

 #firstname{
  font-family: 'Kaushan Script', cursive; 
  
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

#pagination-margim{
  margin-left: auto;
  
}

#results-container{
  margin: 0 0 0 0;
}
#search-bar-custom {
  display: none;
}
#search-input{
  
  margin: 0 0 0 0;
  height: 2em;
  background: #009688;
}
