---
layout: default
title: "Homepage"
description: "Descrição"
navigationName: "Home"
coverImage: "home-bg.jpg"
order: 1
---
    <div class="row">
    <!-- Main Content -->
   {% for post in paginator.posts %}
        {% assign mod = forloop.index0 | modulo:2 %}
        {% if mod == 0 %}
        
        <div class="col s6 m6 ">
          <div class="card">
             <div class="card-image">
              <a href="{{site.baseurl}}{{post.url}}">
                <img src="{{site.baseurl}}/img/{{post.imageCover}}">
                <span class="card-title grey-text text-darken-4 ">{{ post.title }}</span>
              </a>
            </div> 
            <div class="card-content">
              <p>{{ post.description }}</p>
            </div>
            <div class="card-action">
              <p><img src="{{site.baseurl}}/img/{{post.image}}" alt="" class="circle responsive-img" />
                Posted by  <a href="#">Fabio Santana</a> on {{post.date | date_to_string}}</p>  
            </div>
          </div>
        </div>
      {% else %}
        <div class="col s6 m6">
          <div class="card">
             <div class="card-image">
               <a href="{{site.baseurl}}{{post.url}}">
                  <img src="{{site.baseurl}}/img/{{post.imageCover}}">
                  <span class="card-title grey-text text-darken-4 ">{{ post.title }}</span>
               </a>
            </div> 
            <div class="card-content">
              <p>{{ post.description }}</p>
            </div>
            <div class="card-action">                   
               <p><img src="{{site.baseurl}}/img/{{post.image}}" alt="" class="circle responsive-img" />
                Posted by <a href="#">Fabio Santana</a>on {{post.date | date_to_string}}</p>  
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor%}
    </div>
    <!-- Pager -->
    <div class="valign-wrapper center"> 
       <ul class="pagination center">
           {% if paginator.previous_page %}
             <li class="waves-effect"><a href="{{site.baseurl}}{{paginator.previous_page_path}}"><i class="mdi-navigation-chevron-left"></i></a></li>
           {% else %}
             <li class="disabled"><a href="{{site.baseurl}}{{paginator.previous_page_path}}"><i class="mdi-navigation-chevron-left"></i></a></li>
           {% endif%}  
           {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                  <li class="active teal darken-2"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
              {% elsif page == 1 %}
                 <li class="waves-effect"> <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
              {% else %}
                 <li class="waves-effect"> <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
              {% endif %}
           {% endfor %}
           {% if paginator.next_page%}
             <li class="waves-effect"><a href="{{site.baseurl}}{{paginator.next_page_path}}"><i class="mdi-navigation-chevron-right"></i></a></li>
           {% else %}
             <li class="disabled"><a href="{{site.baseurl}}{{paginator.next_page_path}}"><i class="mdi-navigation-chevron-right"></i></a></li>
           {% endif%}
        </ul>
    </div>