 <!-- Navigation -->
 <div  class="navbar-fixed">
 <nav class="teal darken-2">
     <a href="{{site.baseurl}}/index.html"" id="firstname" class="brand-logo center">Estruturando</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% assign pages_list = {{site.pages | sort: 'order'}} %}
      {% assign group = 'navigation' %}
      {% include pages_list %}
     </ul>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{site.baseurl}}/android.html">Android</a></li>
        <li><a href="{{site.baseurl}}/estrutura.html">Estrutura</a></li>
      </ul>
 </nav>
 </div>
                    
              
              